
<div class="admin-menu-container">
    <h2>Welcome, Admin</h2>
    <div class="admin-menu-button-container">
        <a asp-controller="Dish" asp-action="Index" class="btn btn-primary">Dishes</a>
        <a asp-controller="Admin" asp-action="EditTables" class="btn btn-primary">Tables</a>
        <a asp-controller="Admin" asp-action="EditBookings" class="btn btn-primary">Bookings</a>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Customers</a>
    </div>
</div>

