
<div class="admin-menu-container">
    <h2>Welcome, Admin</h2>
    <div class="admin-menu-button-container">
        <a asp-controller="Dish" asp-action="Index" class="btn btn-primary">Edit Dishes</a>
        <a asp-controller="Admin" asp-action="EditTables" class="btn btn-primary">Edit Tables</a>
        <a asp-controller="Admin" asp-action="EditBookings" class="btn btn-primary">Edit Bookings</a>
    </div>
</div>

