@{
    ViewData["Title"] = "Admin Menu";
}
<div class="admin-menu-container">
    <h2>Welcome, Admin</h2>
    <div class="admin-menu-button-container">
        <a asp-controller="Dish" asp-action="Index" class="btn btn-primary">Dishes</a>
        <a asp-controller="Table" asp-action="Index" class="btn btn-primary">Tables</a>
        <a asp-controller="Booking" asp-action="Index" class="btn btn-primary">All Bookings</a>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-primary">Customers and Bookings</a>
        <form asp-controller="Admin" asp-action="Logout" method="post">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    </div>
</div>

