@model List<Dish>

<link rel="stylesheet" href="~/css/Menu.css" />

@{
    ViewData["Title"] = "Menu";
}

@* <h2 class="menu-header">Menu</h2>

<div class="menu-card-container">
@foreach(var dish in Model)
{
    <div class="menu-cards">
        <div class="card text-white bg-primary mb-3 menu-item">
            <div class="card-header"><h4 class="card-title">@dish.Name</h4></div>
            <div class="card-body">         
                <p class="card-text">Price: @dish.Price</p>
                    @if(@dish.Availability == true)
                    {
                        <span class="badge bg-primary">Available</span>
                    }
                    else
                    {
                        <span class="badge bg-primary">Unavailable</span>
                    }
            </div>
        </div>
    </div>
}
</div> *@

<div class="table-container">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Availability</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in Model)
            {
                <tr class="table-primary">
                    <th scope="row">@dish.Name</th>
                    <td>@dish.Price:-</td>
                    @if (dish.Availability == true)
                    {
                        <td><span class="badge text-bg-success">Available</span></td>
                    }
                    else
                    {
                        <td><span class="badge text-bg-danger">Unavailable</span></td>
                    }

                </tr>
            }
        </tbody>
    </table>

</div>







