/*.menu-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}*/

/*.card {
    width: 15rem;
    height: 12rem;

}

.card-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50rem;
    
}

h1 {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}*/


