html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*footer {
    position: relative;
}*/

/* Background image banner */
.banner {
    background-image: url("../images/pierogi.jpg"); /* Add the correct path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

/* Transparent box for content */
.banner-content {
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black box */
    padding: 5rem;
    border-radius: 10px;
    color: white;
}

.container {
    height: 100vh;
    overflow: visible;
    
}

footer {
    padding-top: 1rem;
    clear: both;
    position: relative;
    z-index: 10; /* Make sure it's higher than other elements */
    
}

/*CSS BELOW AFFECTS MENU PAGE*/

.menu-item {
    width: 15rem;
    height: 12rem;
}

.menu-card-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 50rem;
}

.menu-header {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

/* ADMIN MENU*/

.admin-menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 50vh; 
    text-align: center;
}

.admin-menu-button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between buttons */
}

@media (max-width: 768px) {
    .admin-menu-button-container {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

        .admin-menu-button-container a,
        .admin-menu-button-container form {
            width: 100%; /* Full width for smaller screens */
            max-width: 300px;
        }
}
     

    /* DISH INDEX */

    .all-dishes {
        padding-top: 2rem;
    }

    /* DISH CREATE & EDIT */

    .form-container {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: 50vh;
    }

   .form-container .form-group {
        margin-top: 1rem;
   }


    .form-container form {
        width: 20rem;
    }

    .center-buttons {
        margin-top: 1rem;
    }

    .table-container {
        height: 90vh; 
        overflow-y: auto; 
        margin-bottom: 20px;
        width: 100%; 
    }

    .login-container {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        padding: 5rem;
    }

    .bottom-button-container {
        padding-top: 1rem;
        position: static;
        height:contain;
        margin-top: -2rem;
    }

